@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Sabre Poland<br />
    Kraków, Wadowicka 6D<br />
</address>

<address>
    <strong>Support:</strong> <a href="support@sabre.com">support@sabre.com</a><br />
</address>
